@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Sriracha&display=swap');

input[type=text] {
  font-family: 'Sriracha', sans-serif;
  font-size: 1.1rem;
  box-sizing: border-box;
  margin: 0;
  height: 1.5rem;
  border: 0;
  flex-grow: 1;
  background: none;
  opacity: 70%;
}

input[type=text]#input-add {
  margin-left: 1.8rem;
}

input[type=checkbox] {
  display: none;
}

label::before {
  margin: 0;
  margin-right: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 70%;
}

input[type="checkbox"] + label::before {
  content: url(./../src/images/checkbox-empty.svg);
}

input[type="checkbox"]:checked + label::before {
  content: url(./../src/images/checkbox-checked.svg);
}

label::before {
  position: relative;
  content: "";
  display: inline-block;
}
